<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <!--
  <assembly name="Husb.Common" />
  <assembly name="Husb.Data" />
  <assembly name="Crawler.Entity" />
  <assembly name="Crawler.Repository" />
  <assembly name="Crawler.Service" />

  <namespace name="Husb.Common" />
  <namespace name="Husb.Data" />
  <namespace name="Crawler.Entity" />
  <namespace name="Crawler.Repository" />
  <namespace name="Crawler.Service" />
  <IDatabaseFactory, DatabaseFactory>
  -->

  <alias alias="IDbContext" type="Husb.Data.IDbContext, Husb.Data" />
  
  <alias alias="CrawlerDbContext" type="Crawler.Service.CrawlerDbContext, Crawler.Service" />
  <alias alias="IRepository" type="Husb.Data.IRepository`1, Husb.Data" />
  <alias alias="EfRepository" type="Husb.Data.EfRepository`1, Husb.Data" />
  
  <!--<alias alias="IRepository" type="Husb.Data.IRepository[], Husb.Data" />
  <alias alias="EfRepository" type="Husb.Data.EfRepository[], Husb.Data" />-->

  <alias alias="ITaskCategoryService" type="Crawler.Service.ITaskCategoryService, Crawler.Service"/>
  <alias alias="TaskCategoryService" type="Crawler.Service.TaskCategoryService, Crawler.Service"/>

  <alias alias="ITaskService" type="Crawler.Service.ITaskService, Crawler.Service"/>
  <alias alias="TaskService" type="Crawler.Service.TaskService, Crawler.Service"/>

  <alias alias="ITaskItemService" type="Crawler.Service.ITaskItemService, Crawler.Service"/>
  <alias alias="TaskItemService" type="Crawler.Service.TaskItemService, Crawler.Service"/>

  <alias alias="ICaptureRuleService" type="Crawler.Service.ICaptureRuleService, Crawler.Service"/>
  <alias alias="CaptureRuleService" type="Crawler.Service.CaptureRuleService, Crawler.Service"/>

  <alias alias="IArticleCategoryService" type="Crawler.Service.IArticleCategoryService, Crawler.Service"/>
  <alias alias="ArticleCategoryService" type="Crawler.Service.ArticleCategoryService, Crawler.Service"/>

  <alias alias="IArticleService" type="Crawler.Service.IArticleService, Crawler.Service"/>
  <alias alias="ArticleService" type="Crawler.Service.ArticleService, Crawler.Service"/>

  <container>

    <register name="TaskCategory" type="Crawler.Entity.TaskCategory, Crawler.Entity" />
    <register name="Task" type="Crawler.Entity.Task, Crawler.Entity" />
    <register name="TaskItem" type="Crawler.Entity.TaskItem, Crawler.Entity" />
    <register name="CaptureRule" type="Crawler.Entity.CaptureRule, Crawler.Entity" />
    <register name="ArticleCategory" type="Crawler.Entity.ArticleCategory, Crawler.Entity" />
    <register name="Article" type="Crawler.Entity.Article, Crawler.Entity" />
   
    
    <register type="CrawlerDbContext">
      <lifetime type="hierarchical"></lifetime>
    </register>

    <register type="IDbContext" mapTo="CrawlerDbContext">
      <lifetime type="hierarchical"></lifetime>
    </register>
    
    <register type="IRepository" mapTo="EfRepository">
      <lifetime type="hierarchical"></lifetime>
    </register>
    
    <register type="ITaskCategoryService" mapTo="TaskCategoryService">
      <lifetime type="hierarchical"></lifetime>
    </register>
    
    <register type="ITaskCategoryService" mapTo="TaskCategoryService">
      <lifetime type="hierarchical"></lifetime>
    </register>

    <register type="ITaskService" mapTo="TaskService">
      <lifetime type="hierarchical"></lifetime>
    </register>

    <register type="ITaskItemService" mapTo="TaskItemService">
      <lifetime type="hierarchical"></lifetime>
    </register>

    
    <register type="ICaptureRuleService" mapTo="CaptureRuleService">
      <lifetime type="hierarchical"></lifetime>
    </register>

    <register type="IArticleCategoryService" mapTo="ArticleCategoryService">
      <lifetime type="hierarchical"></lifetime>
    </register>

    <register type="IArticleService" mapTo="ArticleService">
      <lifetime type="hierarchical"></lifetime>
    </register>

  </container>

</unity>