

@{
    //Layout = "~/Views/Shared/_EasyuiLayout.cshtml";
    ViewBag.Title = "任务类别管理";
}
<style type="text/css">
body{ margin-left:0}
.datagrid{ }
.datagrid .panel-header{ border-left-width:0}
.datagrid .panel-body{ border-left-width:0}
h2{ margin-left:10px;}
p{ margin-left:10px;}
</style>
<h2>文章类别管理</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table id="tblTaskCategory"></table>
@section scriptfiles {
   @* @Html.Partial("scriptview")*@
}

@section scripts {
<script type="text/javascript">
    
    $(document).ready(
    function () {
       

    });
</script>
}
